<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像処理テスト</title>
</head>
<body>
    <div>
        <button id="ShowImage">元画像</button>
        <button id="Reverse">ネガポジ</button>
        <button id="GrayScale">グレースケール</button>
        <button id="OtsuBinary">2値化</button>
    </div>
    <br>
    <div>
        <canvas id="canvas1" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas2" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas3" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas4" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
    </div>
</body>
</html>