<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像処理テスト</title>
</head>
<body>
    <div id= "root"></div>
    <div>
        <button id="ShowImage1">元画像</button>
        <button id="Reverse">ネガポジ</button>
        <button id="GrayScale1">グレースケール</button>
        <button id="OtsuBinary">2値化</button>
    </div>
    <br>
    <div>
        <canvas id="canvas1" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas2" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas3" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas4" width="225" height="225">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
    </div>

    <br><br>
    
    <div>
        <button id="ShowImage2">元画像</button>
        <button id="Opening">オープニング</button>
        <button id="Labeling">ラベリング</button>
    </div>
    <br>
    <div>
        <canvas id="canvas5" width="300" height="300">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas6" width="300" height="300">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
        <canvas id="canvas7" width="300" height="300">
            Canvasをサポートしたブラウザを使用してください。
        </canvas>
    </div>
</body>
</html>